.idea/
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
composer.phar
/vendor/

/.env
/bin/
/phar-private.pem.passphrase-protected
/phar.pem
/phar-private-nopassphrase.pem
/elasticorn.phar.pubkey
/elasticorn.phar
/elasticorn.phar.version
/elasticorn.phar.temp.pubkey
/elasticorn-old.phar
/elasticorn-old.phar.pubkey
/.TestClient/
.php_cs.cache
build/.phpunit.result.cache
Tests/Fixtures/Configuration/mysuperindex/
var/
